<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" alt="{{actor.name}}" data-edit="img" />
  <div class="actor-name">
    <input type="text" name="name" value="{{actor.name}}" placeholder="Nome" />
  </div>
</header>
