<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="main">Principal</a>
  <a class="item" data-tab="items">Itens</a>
  <a class="item" data-tab="notes">Anotações</a>
</nav>
