<section class="tab" data-tab="notes">
  <div class="field-group">
    <label>{{localize "INFAERNUM.Personagem.Anotacoes"}}</label>
    <textarea name="system.anotacoes" rows="12" {{#unless editable}}readonly{{/unless}}>{{system.anotacoes}}</textarea>
  </div>
</section>
